<div class="jumbotron">
  <h1>Welcome to true-chat!</h1>
  <p class="lead">Please sign in via one of the social networks to start chatting</p>
  <%= link_to 'twitter', '/auth/twitter', class: 'social twitter' %>
  <%= link_to 'facebook', '/auth/facebook', class: 'social facebook' %>
</div>