<div class="container">
<a id="ping" class="waves-effect waves-light btn">PING LOCATION<i class="mdi-maps-my-location"></i></a>
  <!-- Dropdown Trigger -->
  <a class='dropdown-button btn' href='#' data-activates='dropdown2'>AMMUNITION</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown2' class='dropdown-content'>
  <!-- Populated with ammunition dynamically -->
  </ul>
<div id="map-canvas" style= "height:400px" class="z-depth-5"></div>
<br>


  <%= render 'form' %>


</div>

<script>
var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};
 var crd; 
 var map;
 var ping;

 function pingSuccess(pos) {
  ping = pos.coords;
  return ping;
 }

function success(pos) {
  crd = pos.coords;
  console.log('Latitude : ' + crd.latitude);
  console.log('Longitude: ' + crd.longitude);
  initialize();
  google.maps.event.addListener(map, 'click', function( event ){
    document.getElementById('lat').value = event.latLng.lat();
    document.getElementById('lng').value = event.latLng.lng();    
  });
    $.ajax({
    url: "/api/markers",
    method: "get"
  }).done(function(data) {

    $.each(data, function(index, value) {
      var thisLatLng = new google.maps.LatLng(value.lat, value.lng);
      var contentString =  "<div class='card-panel blue darken-1'><span class='white-text text-darken-2'>" + value.title +  ' --- '  + value.description + "</span></div>"
      // plot markers on the map
      newMarker = new google.maps.Marker({
        position: thisLatLng,
        optimized: false,
        map: map,
        title: value.title,
        id: index
      });
      var infowindow = new google.maps.InfoWindow({
            content: contentString
      });
      google.maps.event.addListener(newMarker, 'click', function() {
        infowindow.open(map,this);
      });
    });
  });
};  


function error(err) {
  console.warn('ERROR(' + err.code + '): ' + err.message);
};

navigator.geolocation.getCurrentPosition(success, error, options);

function initialize() {
  var mapOptions = {
    zoom: 8,
    center: new google.maps.LatLng(crd.latitude, crd.longitude),
    mapTypeId: google.maps.MapTypeId.SATELLITE
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
}

$('#ping').on('click', function(){
  Materialize.toast('PINGED!', 4000);
  coOrd = navigator.geolocation.getCurrentPosition(pingSuccess);
  setTimeout(function(){
    $.ajax({
      url: "/locations",
      type: "post",
      dataType: 'json',
      data: {
        lat: ping.latitude,
        lng: ping.longitude
      }
    });
  }, 3000);
});

$(".draw-circle").on('click', function() {
    var center = new google.maps.LatLng(crd.latitude, crd.longitude);
          var options = {
            strokeColor: 'red',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: 'red',
            fillOpacity: 0.5,
            map: map,
            center: center,
            radius: obj.max
        };

        circle = new google.maps.Circle(options);
});

</script>

  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key="></script>