<div class="container" id="map-container">

  <ul id='dropdown2' class='dropdown-content'>
    <!-- Populated with ammunition dynamically -->
  </ul>
  <div class="row">
    <div id="map-canvas" class= "col s12 l11 z-depth-5" style= "height:400px"></div>
    <div class="row col l1">
      <!--     <div class="col l1">
        <a class="waves-effect waves-light btn modal-trigger" href="#modalhelp">HELP</a>
      </div>  -->
      <div class="col l2 hide-on-med-and-down z-depth-1" id="side-buttons">
        <a id="help" class="waves-effect waves-light btn modal-trigger z-depth-1" href="#modalhelp">HELP</a><!---->
        <a id="show" class="waves-effect waves-light btn z-depth-1">SHOW OTHERS</a><!---->
        <a id="ping" class="waves-effect waves-light btn z-depth-1">PING<i class="mdi-maps-my-location"></i></a><!---->
        
        <!-- Dropdown Trigger -->
        <a id="ammo" class='dropdown-button btn' href='#' data-activates='dropdown2'>SHOT RADIUS</a>
      </div>
      <!-- Modal Structure -->
      <div id="modalhelp" class="modal teal-text">
        <div class="modal-content">
          <h5>Save your favourite places!</h5>
          <p class= "flow-text">Click anywhere on the map to add the latitude and longitude to the form, add the rest of the details, hit submit and you've saved a marker for everyone to see.</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
    </div>
    <br>
    <%= render 'form' %>
  </div>
</div>


<script>
/*************** Draw MAP on canvas *****************/
  function initialize() {
      var mapOptions = {
          zoom: 8,
          center: new google.maps.LatLng(crd.latitude, crd.longitude),
          mapTypeId: google.maps.MapTypeId.SATELLITE
      };
      map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
  }
</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key="></script>