<span><h1>Map</h1></span>

<a id="ping" class="waves-effect waves-light btn">PING LOCATION</a>

<div id="map-canvas" style= "height:400px" class="z-depth-5"></div>
<br>


  <%= render 'form' %>




<script>
var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};
 var crd; 
 var map;
 var ping;

 function pingSuccess(pos) {
  ping = pos.coords;
  return ping;
 }

function success(pos) {
  crd = pos.coords;
  console.log('Latitude : ' + crd.latitude);
  console.log('Longitude: ' + crd.longitude);
  initialize();
  google.maps.event.addListener(map, 'click', function( event ){
    document.getElementById('lat').value = event.latLng.lat();
    document.getElementById('lng').value = event.latLng.lng();    
  });
    $.ajax({
    url: "/api/markers",
    method: "get"
  }).done(function(data) {

    $.each(data, function(index, value) {
      var thisLatLng = new google.maps.LatLng(value.lat, value.lng);
      var contentString =  "" + value.title +  " --- " + value.description;
      // plot markers on the map
      newMarker = new google.maps.Marker({
        position: thisLatLng,
        optimized: false,
        map: map,
        title: value.title,
        id: index
      });
      var infowindow = new google.maps.InfoWindow({
            content: contentString
      });
      google.maps.event.addListener(newMarker, 'click', function() {
        infowindow.open(map,this);
      });
    });
  });
};  


function error(err) {
  console.warn('ERROR(' + err.code + '): ' + err.message);
};

navigator.geolocation.getCurrentPosition(success, error, options);

function initialize() {
  var mapOptions = {
    zoom: 8,
    center: new google.maps.LatLng(crd.latitude, crd.longitude),
    mapTypeId: google.maps.MapTypeId.SATELLITE
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
}

$('#ping').on('click', function(){
  Materialize.toast('PINGED!', 4000);
  coOrd = navigator.geolocation.getCurrentPosition(pingSuccess);
  setTimeout(function(){
    $.ajax({
      url: "/locations",
      type: "post",
      dataType: 'json',
      data: {
        lat: ping.latitude,
        lng: ping.longitude
      }
    });
  }, 3000);
});

</script>

  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key="></script>