<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TrueTrac</title>
</head>
<body>
  <h1>Welcome to TrueTrac</h1>
  <p>Sign in with...</p>
  <%= link_to 'twitter', '/auth/twitter', class: 'social twitter' %>
  <%= link_to 'facebook', '/auth/facebook', class: 'social facebook' %>
</body>
</html>