<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TrueTrac</title>
</head>
<body>
  <div class="parallax-container">
  <div class="container row">
  <h1 class="white-text col s12"> WELCOME TO TRUETRAC</h1>
    <div class="parallax"><img src="http://www.odysseynepaltrek.com/assets/images/Background%20Images/background-main.jpg"></div>
  </div>
  </div>
  <div class="section white z-depth-4 scrollspy" id="enjoy">
    <div class="row container">
      <h4 class="header "> ENJOY YOUR WORLD</h4>
      <p id="text-block-p" class="grey-text text-darken-3 lighten-3 col s10">Whether it's a quiet weekend trip or a full scale expedition, TrueTrac has you covered. Log your way points on the go or pre-plan your trip to ensure you're always tracking true. TrueTrac is for people who love the outdoors and want a way to document and share their travels.
      </p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://background-download.com/background/nature-canyon-dessert-grand-mountain-sunrise-wallpaper-37737.jpg"></div>
  </div>
  <div class="section white z-depth-4 scrollspy" id="remember">
    <div class="row container">
      <h4 class="header"> REMEMBER WHERE YOU'VE BEEN</h4>
      <p id="text-block-p" class="grey-text text-darken-3 lighten-3 col s10">Ever found a unique place that you love, only to be unable to find it the following visit? Share your favourite spots to do your outdoor activities and have access to a graphical representation of where you've been, what you did and what you thought.
      </p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://khongthe.com/wallpapers/nature/colors-of-kakadu-225017.jpg"></div>
  </div>

  <div class="section white z-depth-4 scrollspy" id="learn">
    <div class="row container">
      <h4 class="header"> LEARN WHAT'S OUT THERE</h4>
      <p id="text-block-p" class="grey-text text-darken-3 lighten-3 col s10">Planning a new journey? Get to know and speak with like-minded people and learn about what's out there! The world is a big place, but we have you covered. Use the collective knowledge of your fellow explorers to know the best spots to visit.
      </p>
    </div>

  <div class="col hide-on-small-only m3 l2 z-depth-1" id="side-links">
    <ul class="section table-of-contents">
      <li><a href="#enjoy" class="black-text"><strong>ENJOY</strong></a></li>
      <li><a href="#remember" class="black-text"><strong>REMEMBER</strong></a></li>
      <li><a href="#learn" class="black-text"><strong>LEARN</strong></a></li>
    </ul>
  </div>
</body>
</html>