<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TrueTrac</title>
</head>
<body>
  <div class="parallax-container">
  <h1>Welcome to TrueTrac</h1>
    <div class="parallax"><img src="http://www.odysseynepaltrek.com/assets/images/Background%20Images/background-main.jpg"></div>
  </div>
  <div class="section white z-depth-4" id="middle-parallax">
    <div class="row container">
      <h2 class="header ">KNOW YOUR WORLD</h2>
      <p class="grey-text text-darken-3 lighten-3">Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.
</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://background-download.com/background/nature-canyon-dessert-grand-mountain-sunrise-wallpaper-37737.jpg"></div>
  </div>


</body>
</html>