/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.hidden {
  display: none;
}

#enjoy, #remember, #learn {
  min-height: 400px;
  height: 40vh;
  box-shadow: 0px -1px 30px black;
}

.page-footer {
  margin-top: 0;
  padding-top: 0;
}

#side-links {
  background: rgba(255,255,255,0.5);
  position: fixed;
  top: 50%;
  right: 8%;
  margin-top: -10px;
  margin-bottom: -10px;
  padding-right: 10px;
}

#side-buttons{
  background: rgba(255,255,255,0.5);
  position: fixed;
  top: 30%;
  right: 2%;
}

#dropdown1 {
  position: fixed;
  height: 64px;
}

#map-container {
  margin-top: 5%;
}

#text-block-p {
  font-size: 1.7em;
}

@media (min-width: 600px) {
  #ammo, #help, #ping, #show {
    width: 100%;
    margin: 2px 0;
  }
}

#map-canvas {
  margin-bottom: 1em;
}

h4 {
  padding-left: 11.25px
}

.welcome-to {
  max-width: 600px;
}



@media (max-width: 650px) {
  #enjoy, #remember, #learn {
    height: 60vh;
  }

  #text-block-p {
    font-size: 1.0em;
  }

  #ammo, #help, #ping, #show {
    margin-left: 0.5%;
    width: 49%;
    display: inline-block;
  }
}
